.post-container{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    width: 650px;
    height: 570px;
    background-color: rgb(239, 234, 234);
    box-shadow: 12px 12px 45px grey;
}
.auth-cap{
    margin-top: 4%;
    margin-left: 5%;
}

.feed-img{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    width: 500px;
    height: 40px;
   
}

.feed-image{
    width: 500px;
    height: 400px;
}

.feed-header h5{
    font-size: large;
    font-weight: 700;
    margin-top: 2%;
}

.caption p{
    font-weight: lighter;
    opacity: 0.8;
    margin-left: 7%;
}

.like-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 5%;
  }
  
  .LikeButton {
    display: flex;
    align-items: center;
  }
  
  button {
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 3px 16px;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  button.Liked {
    background-color: #ed4956;
    color: #fff;
  }
  
  button.NotLiked {
   
    background-color: #fff;
    color: #262626;
    
  }

  .button.NotLiked :hover{
    background-color: black;
    color: white;
  }
  
  .LikeCount {
    margin-left: 8px;
    font-size: 14px;
    color: #8e8e8e;
  }
  